:root{
    --customGray:rgb(193, 196, 211);
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button{
  text-align: center !important;
  outline:0;
}

.col-3:hover,button:hover{
  background-color:#636571 !important;
  border-radius:25px;
  outline:0;
}

.row{
  padding-left:2.5px;
  padding-right:2.5px;
}

.container{
  width:200px;
  background-color:black;
}

.col-result-layout{
    text-align:right;
}

.col-subresult{
    font-size:15px;
    color:orange;
    padding-top:3px;
}

.ac-div{
  border:.5px solid black;
  background-color:rgb(221, 62, 97);
}

.ac-style{
    border:none;
    color:white;
    background-color:rgb(221, 62, 97);
}

.ac-style:hover{
  background-color:rgb(255, 5, 60) !important;
  width:95px;
  margin-left:-14px;
}

.ac-div:hover{
  background-color:#636571 !important;
  border-radius:25px;
  outline:0;
}

.division-style{
  background-color:var(--customGray);
  color:white;
  border-style:none;
}

.division-style:hover{
  background-color:#636571 !important;
}

.mult-style{
  border-style:none;
  background-color:var(--customGray);
  color:white;
  margin-left:-1px;
}

.dig-seven{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-eight{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-nine{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.op-sub{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-four{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-five{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-six{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.op-add{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-2px;
  border-style:none;
}

.dig-one{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-two{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.dig-three{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-1px;
  border-style:none;
}

.op-equal{
  background-color:var(--customGray);
  color:#ffffff;
  margin-left:-4px;
  border-style:none;
  position:relative;
  text-align: center;
  width:25.8px;
}
.op-equalDiv{
  background-color:var(--customGray) !important;
  border:.1px solid black;
  position:relative;
}

.op-equalDiv:hover{
  background-color:#636571 !important;
  border-radius:55px !important;
  outline:0;
}

.dig-zero{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  border-style:none;
}

.dig-zeroDiv{
  background-color:rgb(193, 196, 211);
  border:.1px solid black;
}

.dig-zeroDiv:hover{
  background-color:#636571 !important;
  border-radius:25px;
  outline:0;
}

.op-dec{
  border:.5px solid black;
  background-color:var(--customGray);
  color:#ffffff;
  border-style:none;
}

.deadCell{
  background-color:var(--customGray);
  cursor:not-allowed;
  border:.1px solid black;
  width:48.7px;
}

.deadCell:hover,.col-3:hover{
  background-color:none !important;  
}

.authorDiv{
  background-color:#c1d6ec;
  width:200px;
  margin-left:-15px;
  padding-bottom:10px;
}

.authorStyle{
  color:black;
  font-size:10px;
}